{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react-hooks"],
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "semi": "error",
    "strict": 0,
    "react-hooks/rules-of-hooks": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "no-use-before-define": [0, { "functions": true, "classes": true }],
    "react/require-default-props": [0, { "forbidDefaultForRequired": false }],
    "react/forbid-prop-types": [
      0,
      {
        "forbid": ["object"],
        "checkContextTypes": false,
        "checkChildContextTypes": false
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/self-closing-comp": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
